.loginContainer {
  display: flex;
  flex-direction: column;
  padding: 8vh 16px 8vh 16px;
  align-items: center;
  gap: 16px;
  height: 100vh;
}

.loginContainer img {
  width: 70vw;
  border-radius: 50%;
}

.loginContainer form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 16px;
}

.loginContainer form button {
  font-weight: bold;
  background-color: var(--primary-white);
  color: var(--primary-dark);
}

.loginContainer a {
  font-weight: bold;
}

.loginContainer form input + a {
  margin-left: auto;
}
