.panelContainer {
  padding: 16px;
  padding-bottom: 8px;
  min-height: 100vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.panelContainer .panelFooter {
  display: flex;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100vw;
  height: 64px;
  min-height: 64px;
  max-height: 64px;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-dark);
  padding: 8px;
  margin-top: auto;
}

.panelContainer .panelFooter svg {
  color: var(--primary-white);
  transition: all 0.3s;
  padding: 4px;
  height: 28px;
  width: 50px;
  border-radius: 24px;
}

.active {
  background-color: var(--primary-blue);
  fill: var(--primary-white);
}

.sideBar {
  top: 0;
  left: 0;
  height: 100vh;
  width: 70vw;
  background-color: rgba(0, 0, 0, 0.92);
  position: absolute;
  animation: showSideBar 0.1s;
}

@keyframes showSideBar {
  from {
    width: 0;
  }
  to {
    width: 70vw;
  }
}

.sideBar div {
  display: flex;
  justify-content: space-between;
  padding: 24px;
  align-items: center;
  flex-direction: column;
}

.sideBar div svg {
  fill: var(--primary-white);
  position: absolute;
  right: 16px;
  top: 16px;
}

.sideBar div h3 {
  font-weight: 500;
}

.sideBar div img {
  width: 48px;
  border-radius: 50%;
}

.sideBar ul {
  list-style: none;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0 16px;
}

.sideBar ul li {
  color: var(--primary-white);
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  background-color: var(--primary-white);
  color: var(--primary-dark);
  padding: 8px;
  border-radius: 8px;
  width: 100%;
}

.sideBar ul li p {
  color: var(--primary-dark);
}
