.panelContainer {
  padding: 16px;
  padding-bottom: 8px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.panelContainer .panelFooter {
  display: flex;
  position: fixed;
  top: 92vh;
  width: 94vw;
  justify-content: space-around;
  background-color: var(--primary-dark);
  padding: 8px;
  border-radius: 24px;
  margin-top: auto;
}

.panelContainer .panelFooter svg {
  font-size: 24px;
  color: var(--primary-white);
  transition: all 0.3s;
  padding: 4px;
  height: 28px;
  width: 50px;
  border-radius: 24px;
}

.active {
  background-color: var(--primary-white);
  fill: var(--primary-dark);
}
