@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-dark: #131213;
  --secondary-dark: #171617;
  --primary-red: #ff3e4d;
  --primary-blue: #0071b2;
  --secondary-blue: #219ebc;
  --primary-yellow: #f6c90e;
  --primary-white: #e3e6e4;
  --lightHouse: #fe5808;
  --storm: #2596be;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  background-color: var(--secondary-dark);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
  color: var(--primary-white);
  text-decoration: none;
}

button,
input {
  width: 100%;
  padding: 8px;
  border-radius: 8px;
  outline: none;
  background-color: transparent;
  color: var(--primary-white);
  border: 1px solid var(--primary-white);
  font-size: 18px;
  min-height: 45px;
}

.backArrow {
  fill: var(--primary-white);
  font-size: 24px;
}
